
@font-face {
    font-family: muktabold;
    src: url(../fonts/Mukta-Bold.ttf) format("opentype");
}

@font-face {
    font-family: muktaregular;
    src: url(../fonts/Mukta-Regular.ttf) format("opentype");
}

.fuente-muktabold{
  font-family: muktaregular !important;
}


.obligatorio{
	color: #d9534f;
	font-weight: bold;
}
.activo1{
	background-color: #f2f2f2 !important;
}
.activo0{
	background-color: #f9a39d !important;
}

.formtext{
	margin-left: 0px;
	border:0px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-bottom: 2px;
	font-size: 16px;
}
.formtext .formsub{
	margin-bottom: 2px !important;
}
.text-left{
	text-align: left !important;
}